<div class="task-form">
    <form method="POST" action="/">
        <input class="input" type="text" name="task" placeholder="I need to...">
        <button class="task-form__button button" type="submit">Create</button>
    </form>

    <% if (errors) { errors.forEach(function(error) { %>
        <div class="alert alert--error">
            <%= error.msg %>
        </div>
        <%- include("../partials/invalidTask.ejs") %>
    <% })} %>

    <% if (!errors.length && tasks.length) { %>
        <%- include("../partials/successTask.ejs") %>
    <% } %>
</div>

<%- include("../partials/tasksList.ejs") %>