<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= pageTitle %>
    </title>
    <link href="./css/styles.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1 class="header__title">
            <%= pageTitle %>
        </h1>

        <ul class="menu">
            <li class="menu__item">
                <a class="link" href="/">
                    TODO
                </a>
            </li>
            <li class="menu__item">
                <a class="link" href="/done">
                    DONE
                </a>
            </li>
        </ul>
    </header>

    <main class="main">
        <h2><%= listHeader %></h2> 
        <%- include(`../pages/${template}`) %>
        <%- include("../partials/noTasks.ejs") %>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./scripts/index.js"></script>
</body>

</html>